html {
  font-size: 62.5%;
  @include benne;
}

body {
  background-color: $off-white;
  z-index: 1;
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
  // background-image: url("https://www.transparenttextures.com/patterns/paper-2.png");
}

html, body {
  min-height: 100%;
  height: 100%;
}

.site {
  min-height: 100%;
  position: relative;
}

.site-main {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow-x: auto;

  @include bp(tablet) {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.6rem;
}

p, li {
  font-size: 2rem;
}

a {
  color: #420D09;
}