html {
  font-size: 62.5%;
  @include benne;
}

body {
  background-color: $off-white;
  z-index: 1;
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
  // background-image: url("https://www.transparenttextures.com/patterns/paper-2.png");
}

html, body {
  min-height: 100%;
  height: 100%;
}

.site {
  min-height: 100%;
  position: relative;
}

.site-main {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow-x: auto;

  @include bp(tablet) {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.6rem;
}

p, li {
  font-size: 2rem;
}

a {
  color: #420D09;
}

// social links
.fas, .fab {
  transition: 0.3s ease-out;
  
  &:hover {
    // text-shadow: 0 3px 10px rgba(0,0,0,0.3),
    //              0 1px 2px rgba(0,0,0,0.8);
  }
}

.fab.fa-d-and-d {
  &:hover {
    color: $dndbeyond;
  }
}

.fas.fa-dice-d20 {
  &:hover {
    background: linear-gradient(to top, #702c91, #ec008c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.fab.fa-facebook-f {
  &:hover {
    color: $facebook;
  }
}

.fab.fa-twitter {
  &:hover {
    color: $twitter;
  }
}

.fab.fa-instagram {
  &:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.fab.fa-tiktok {
  &:hover {
    text-shadow: -2px -2px 0 #25F4EE,
                 2px 2px 0 #FE2C55;
    color: $black;
  }
}