/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.

	&:focus {
		padding: 0 1rem !important;
		-webkit-appearance: none !important;
		border: 0 !important;
		background-color: $off-white !important;
		border-radius: 3px;
		clip: auto !important;
		clip-path: none;
		color: $primary-dark;
		display: block;
		font-size: 2rem !important;
		font-weight: 700;
		height: auto;
		left: 5px;
		line-height: normal;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; // Above WP toolbar.
	}
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}
