$hover-duration: 0.3s;

.post-type-archive-npc, .post-type-archive-pc {
  .site-main {
    .page-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 1rem;
      column-gap: 1rem;
      
      @include bp(tablet) {
        padding: 0 3rem;
        column-gap: 1.6rem;
        row-gap: 1.6rem;
      }
    }
  }
}

.character__box {
  display: block;
  width: 100%;
  overflow: hidden; 
  transition: $hover-duration ease-out;  
  flex-basis: calc(50% - 1rem / 2);

  @include bp(tablet) {
    max-width: 180px;
    border-radius: 2px; 
    height: 400px;
  }

  &__card {
    position: relative;
    height: 100%;
  }

  &__name {
    transition: $hover-duration bottom ease-out, $hover-duration transform ease-out, $hover-duration height ease-out;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    color: $off-white;
    text-decoration: none;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    z-index: 2;
    text-align: right;
    word-break: break-word;
    
    @include bp(tablet) {
      font-size: 2.4rem;
    }
  }

  &__desc {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    color: $off-white;
    min-height: 100%;
    transform: translateY(100%);
    text-align: right;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: $hover-duration all ease-out;
    padding: 0 1rem 1.4rem;

    &__occupation {
      margin-top: 0.8rem;
    }
  }

  &__image {
    height: 100%;
    img {
      min-height: 100%;
      min-width: 100%;
      width: auto;
      display: block;
      max-height: initial;
      max-width: initial;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    @include bp(tablet) {
      box-shadow: 1px 14px 20px 2px rgba(0,0,0,0.3), 
      0px 5px 10px 1px rgba(0,0,0,0.7);
    }

    .character__box {
      &__name {
        @include bp(tablet) {
          bottom: 100%;
          transform: translateY(100%);
        }
      }

      &__desc {
        @include bp(tablet) {
          transform: none;
        }
      }
    }
  }      
}