.attributions {
  position: relative;
  z-index: -1;
  transition: z-index 0.3s step-end;
  color: $black;

  $root: &;
  
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  &__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: $off-white;
    padding-top: 0;
    padding-bottom: 3rem;
    max-height: 80vh;
    transition: 0.3s ease-out;
    overflow: auto;
    width: calc(100vw - 30px);

    @include bp(desktop) {
      width: 75vw;
    }
  }

  &__heading {
    background-color: $primary-dark;
    color: $off-white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.2rem;
  }

  &__close {
    cursor: pointer;
    margin-right: 1.2rem;
    padding: 0;
    height: 1em;
    width: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      display: block;
      width: 3px;
      height: inherit;
      background-color: $off-white;
      transition: width 0.3s ease-out;
      transform: rotate(45deg);
      position: absolute;
    }

    &::before {
      content: "";
      display: block;
      width: 3px;
      height: inherit;
      background-color: $off-white;
      transition: width 0.3s ease-out;
      transform: rotate(135deg);
      position: absolute;
    }

    &:hover {
      &::after, &::before {
        width: 5px;
      }
    }
  }

  &__content {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0.8rem;
    column-gap: 0.8rem;    
  }

  &__trigger {
    -webkit-appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
    @include link-scale-hover;
  }

  &__attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 100px;
    max-width: 300px;
    flex: 1;

    &__image-container {
      flex: 1;
      max-height: 150px;
      display: flex;
      align-items: center;
      margin-bottom: 1.6rem;
    }

    &__text {
      margin-top: auto;
    }
  }

  &__additional-attributions {
    font-size: 2rem;
    flex-basis: 100%;
    margin-top: 2rem;
    
    &__inner {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
    
    &__heading {
      margin-bottom: 1rem;
      text-align: center;
    }

    &__content {
      @include bp(tablet) {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
      }

      p, a {
        font-size: inherit;
      }
    }
  }

  &--show, &:focus-within {
    transition: z-index 0.3s step-start;
    z-index: 11;

    #{$root} {
      &__overlay {
        opacity: 1;
      }

      &__container {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
    }
  }
}