// hero styling
.character, .player {
  &__hero {
    margin-top: 10rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.6rem;

    @include bp(tablet) {
      padding-bottom: 2.4rem;
      padding-top: 2.4rem;
      margin-top: 5rem;
    }

    &__inner {
      @include bp(tablet) {
        display: grid;
        grid-template-columns: auto 1fr;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__image {
      margin: 0 auto;
      width: fit-content;
      position: relative;
      top: -10rem;
      margin-bottom: -10rem;
      max-width: 100%;

      @include bp(tablet) {
        top: -8rem;
        margin-bottom: -8rem;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @include bp(tablet) {
        padding-left: 3rem;
      }
    }

    &__name {
      text-align: center; 
      margin-bottom: 1.2rem;
      
      @include bp(tablet) {
        align-self: center;
        margin-bottom: 0;
      }
    }

    &__details {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      column-gap: 2.4rem;
      row-gap: 1.2rem;

      @include bp(tablet) {
        height: fit-content;
      }

      .npc, .pc {
        &__field {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 0.8rem;
          flex-wrap: wrap;

          &__label {
            font-size: 1.6rem;
          }

          &__occupation {
            flex-basis: 100%;
          }

          &__players {
            flex-basis: 100%;
          }
        }
      }
    }
  }

  &__image {
    width: 100%;

    &--default {
      width: 100%;
      max-width: 300px;
      max-height: 300px;  
    }
  }
}