.main-navigation, .footer-navigation {
  .menu-toggle {
    -webkit-appearance: none;
    background: none;
    border: none;

    @include bp(tablet) {
      display: none;
    }
  }

  > div {
    height: 0;
    overflow: auto;
    background-color: $primary-dark;
    position: absolute;
    left: 0;
    width: 100%;

    @include bp(tablet) {
      display: block;
      position: relative;
      width: auto;
    }

    ul.nav-menu, ul.menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: $primary-dark;
      padding-left: 4vw;
      padding-right: 4vw;

      @include bp(tablet) {
        display: flex;
        padding: 0;
      }

      .menu-item {
        position: relative;
        
        a {
          width: calc(100% - 32px);
          color: inherit;
          text-decoration: none;
          padding-top: 1.3rem;
          padding-bottom: 1rem;
          display: block;
          font-size: 2.4rem;
          
          @include bp(tablet) {
            margin-right: 2rem;
            width: auto;
          }
        }
  
        &:last-child {
          a {
            margin-right: 0;
          }
        }

        &.menu-item-has-children {
          position: relative;
          
          &::after {
            background: url('./images/icons/chevron-down-white.svg');
            background-size: contain;
            content: "";
            width: 32px;
            height: 32px;
            display: block;
            position: absolute;
            right: 0;
            top: 13px;
            line-height: 0;
            transition: 0.3s ease-out;

            @include bp(tablet) {
              display: none;
            }
          }
        }

        &.focus {
          &::after {
            transform: rotate(540deg);
          }
        }
      }

      .sub-menu {
        list-style-type: none;
        margin-left: 0;
        height: 0;
        background-color: $primary-dark;
        overflow: hidden;
        left: -1.5rem;

        @include bp(tablet) {
          position: absolute;
        }

        .menu-item {
          a {
            transition: 0.3s ease-out;
            border: 2px solid $primary-dark;
            padding-left: 1.3rem;
            padding-right: 1.3rem;
            padding-bottom: 0.2rem;
            display: block;
            
            @include bp(tablet) {
              width: 100%;
              padding-top: 0.5rem;
            }
         
            &:hover {
              @include bp(tablet) {
                background-color: $off-white;
                color: $primary-dark;
                border: 2px solid $primary-dark;
              }
            }
          }
        }

        .sub-menu {
          
          @include bp(tablet) {
            background-color: $primary-dark;
            height: auto;
            left: 0;
            top: 0;
            width: 0;
            transform: translateX(-100%);
            left: 0;
          }

          a {
            padding-left: 3rem;
            
            @include bp(tablet) {
              padding-left: 1.2rem;
            }
          }
        }

        &:hover {
          overflow: visible;
        }
      }
    }
  }

  &.toggled {
    > div {
      // display: block;
    }
  }
}