.page-template-home-template {
  .home {
    @include linear-gradient(to bottom, npc);

    &__heading {
      background: $off-white;
      line-height: 1;
      padding-bottom: 1.2rem;

      @include bp(tablet) {
        padding-bottom: 0;
      }
    }

    &__description {
      &__inner {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }

      &__content {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__players {
      &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 2.4rem;
        column-gap: 2.4rem;
      }
    }

    &__featured-npcs, &__pcs {
      &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 2.4rem;
        column-gap: 2.4rem;
        row-gap: 1rem;
        column-gap: 1rem;
      
        @include bp(tablet) {
          padding: 0 3rem;
          column-gap: 1.6rem;
          row-gap: 1.6rem;
        }
      }
    }

    &__links {
      &__content {
        display: flex;
        justify-content: center;
        column-gap: 1.2rem;
      }
    }
  }
}