$npc_bp: 400px;

.single-npc {
    background-color: $off-white;
    // background-image: url("https://www.transparenttextures.com/patterns/paper-2.png");

    .site-main {
      padding: 3rem;
    }

    .npc {

      @include benne;
      text-align: center;

      @include bp(min-width, $npc_bp) {
        text-align: left;
      }

      &__about {
        padding-top: 2rem;
        
        @include bp(tablet) {
          border: 3px solid $black;
          display: grid;
          grid-template: auto auto / auto 1fr;
          padding: 3rem;
        }

        &__copy {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          height: fit-content;
          flex-direction: column;

          @include bp(min-width, $npc_bp) {
            flex-direction: row;

          }

          &::after {
            content: "";
            flex: auto;
          }
        }
      }

      &__field {
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding-right: 2rem;

        @include bp(min-width, $npc_bp) {
          margin-right: auto;
        }

        &__label {
          font-size: 1.2rem;
          width: fit-content;
          border-bottom: 1px solid black;
          line-height: 0.7;
          margin-bottom: 0.3rem;
          margin-left: auto;
          margin-right: auto;

          @include bp(min-width, $npc_bp) {
            margin-left: initial;
            margin-right: initial;
          }
        }

        &__value {
          
        }
        

        &__goals, &__description {
          flex-basis: 100%;
          order: 1;
        }
      }

      &__content {

      }

      &__name {
        font-size: 3rem;
        line-height: 1.2;

        @include bp(tablet) {
          grid-column: 1/3;
        }
      }

      &__image {
        padding: 1.6rem;
        background-color: rgba(155,118,83,0.3);
        height: fit-content;

        @include bp(min-width, 500px) {
          width: fit-content;
          margin-left: auto;
          margin-right: auto;
        }

        @include bp(tablet) {
          margin-right: 1.6rem;
        }

        img {
          width: 100%;

          @include bp(min-width, 500px) {
            width: auto;
          }
        }
      }

     
      &__stats {
        &__title {

        }

        &__value {

        }
      }

      &__capabilities {
        @include bp(tablet) {
          margin-top: 3rem;
          padding-left: 3rem;
          padding-right: 3rem;
        }

        &__content {
          @include bp(tablet) {
            display: grid;
            grid-template-columns: repeat(auto-fill, 50px);
          }
        }
      }

      &__inventory {
        @include bp(tablet) {
          margin-top: 3rem;
          padding-left: 3rem;
          padding-right: 3rem;
        }
      }
      
    }
    
}