$npc_bp: 400px;

.single-npc {

    .site-main {
      padding: 3rem;
    }

    .npc {

      @include benne;
      text-align: center;

      @include bp(min-width, $npc_bp) {
        text-align: left;
      }

      &__about {
        
        @include bp(tablet) {
          padding-top: 2rem;
          border: 3px solid $black;
          display: grid;
          grid-template: auto auto / auto 1fr;
          padding: 3rem;
        }

        &__copy {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          height: fit-content;
          flex-direction: column;

          @include bp(min-width, $npc_bp) {
            flex-direction: row;

          }

          &::after {
            content: "";
            flex: auto;
          }

          > .npc__field {
            animation: scale-in;
            animation-duration: 0.6s;
            animation-fill-mode: forwards;
            opacity: 0;
            transform-origin: left;

            @for $var from 0 to 20 {
              &:nth-child(#{$var}) {
                animation-delay: #{$var * 0.12}s;
              }
            }
          }

          @keyframes scale-in {
            0% {
              transform: scale(.75);
              opacity: 0;
            }

            100% {
              transform: scale(1);
              opacity: 1;
            }
          }
        }
      }

      &__field {
        margin-bottom: 1rem;
        margin-top: 1rem;

        @include bp(min-width, $npc_bp) {
          margin-right: auto;
          padding-right: 2rem;
        }

        &__label {
          font-size: 1.2rem;
          width: fit-content;
          border-bottom: 1px solid black;
          line-height: 0.7;
          margin-bottom: 0.3rem;
          margin-left: auto;
          margin-right: auto;

          @include bp(min-width, $npc_bp) {
            margin-left: initial;
            margin-right: initial;
          }
        }

        &__value {
          
        }
        

        &__goals, &__description {
          flex-basis: 100%;
          order: 1;
        }
      }

      &__content {

      }

      &__name {
        font-size: 3rem;
        line-height: 1.2;

        @include bp(tablet) {
          grid-column: 1/3;
        }
      }

      &__image {
        padding: 1.6rem;
        background-color: rgba(155,118,83,0.3);
        height: fit-content;
        max-width: 80%;
        margin: 0 auto;

        @include bp(min-width, 500px) {
          width: fit-content;
          margin-left: auto;
          margin-right: auto;
          max-width: initial;
        }

        @include bp(tablet) {
          margin-right: 1.6rem;
        }

        img {
          width: 100%;

          @include bp(min-width, 500px) {
            width: auto;
          }
        }
      }

     
      &__stats {
        &__title {

        }

        &__value {

        }
      }

      &__capabilities {


        &__content {
          @include bp(tablet) {
            display: grid;
            grid-template-columns: repeat(auto-fill, 50px);
          }
        }
      }

      &__inventory {
      }

      &__section-heading {
        text-align: left;
        margin-bottom: 1.6rem;
        margin-top: 1.6rem;
      }

      section {
        @include bp(tablet) {
          margin-top: 3rem;
          padding-left: 3rem;
          padding-right: 3rem;
        }
      }

      &__accordion {
        &__heading {

        }

        &__content {
          height: 0;
          overflow: hidden;
          // display: none;

          @include bp(tablet) {
            height: auto;
          }

        }

        // &.open {
        //   .npc__accordion__content {
        //     display: block;
        //   }
        // }
      }

      &__overview {

        @include bp(tablet) {
          display: flex;
          flex-wrap: wrap;
        }
      }

      &__backstory, &__capabilities {
        @include bp(tablet) {
          flex-basis: 100%;
        }
      }

      &__personality, &__relationships, &__inventory, &__spells {
        @include bp(tablet) {
          flex-basis: 50%;
        }
      }
      
    }
    
}