.single-player {
  .player {
    @include linear-gradient(to bottom, npc);

    &__field {
      &__characters {
        .npc, .pc {
          &__box {
            @include bp(tablet) {
              max-width: 250px;
            }

            &__image {
              @include bp(desktop) {
                max-height: initial;
              }
            }
          }
        }
      }
    }

    &__accordion {
      &__heading {
        text-align: center;
      }
    }

    &__social {
      &__content {
        display: flex;
        justify-content: center;
        column-gap: 1.2rem;
      }
    }

    &__description {
      &__inner {
        @include bp(tablet) {
          max-width: 800px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}