$npc_bp: 400px;

.npc, .pc {
  @include linear-gradient(to bottom, npc);
}

.character {

  // general field styling
  &__field {
    text-align: center;

    &__label {
      font-size: 2rem;
      font-weight: 700;
    }
  }

  &__image {
    width: 100%;

    &--default {
      width: 100%;
      max-width: 300px;
      max-height: 300px;  
    }
  }

  // goals section styling 
  &__goals {
    &__inner {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;

      .character {
        &__field {
          text-align: left;
        }
      }
    }

    &__content {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }

    // description section styling 
  &__desc {
    &__inner {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;

      .character {
        &__field {
          text-align: left;
        }
      }
    }

    &__content {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // personality section styling 
  &__personality {
    &__content {
      display: flex;
      flex-direction: column;
      row-gap: 2.4rem;

      @include bp(tablet) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 2.4rem;
      }
    }

    &__card {
      @include bp(tablet) {
        flex-basis: calc(50% - 1.2rem);
        width: 40%;
        max-width: 400px;
      }
    }

    .character {
      &__field {
        @include bp(tablet) {
          margin: 0 auto;
          background-color: $off-white;
          height: 100%;
          padding-top: 1.2rem;
          padding-bottom: 1.2rem;
          padding-left: 1.6rem;
          padding-right: 1.6rem;
        }

        &__value {
          @include bp(tablet) {
            text-align: left;
            margin-top: 1.2rem;
          }
        }
      }
    }
  }

  // relationships section styling 
  &__relationships {
    &__content {
      @include bp(tablet) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1.2rem), 1fr));
        column-gap: 2.4rem;
      }

      .character {
        &__field {
          margin-top: 2rem;
          position: relative;

          @include bp(tablet) {
            margin-top: 0;
          }

          &:first-of-type {
            margin-top: 0;

            &::after {
              content: "";
              display: block;
              width: 80%;
              height: 1px;
              background-color: $black;
              position: absolute;
              bottom: -0.8rem;
              left: 50%;
              transform: translateX(-50%);

              @include bp(tablet) {
                width: 1px;
                height: 80%;
                top: 50%;
                right: -1.2rem;
                left: initial;
                transform: translate(50%, -50%);
              }
            }
          }

          &__allies, &__enemies {
            @include bp(tablet) {
              display: flex;
              flex-direction: column;
            }

            .character__relationships__subheading + .character__field__value {
              @include bp(tablet) {
                flex: 1;
              }
            }
          }
        }
      }
    }

    &__subheading {
      font-weight: 400;
    }
  }

  // backstory section styling 
  &__backstory {
    &__inner {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;

      .character {
        &__field {
          text-align: left;
        }
      }
    }

    &__content {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // symbol section styling
  &__symbol {
    &__inner {
      @include bp(tablet) {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__heading {
      @include bp(tablet) {
        display: none;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1.2rem;

      @include bp(tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2.4rem;
      }
    }

    &__image {
      background-color: $off-white;
    }
  }

  // capabilities section styling
  &__capabilities {
    &__inner {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    &__subheading {
      flex-basis: 100%;
      margin-top: 2.4rem;
      @include bp(tablet) {
        text-align: center;
      }
    }

    &__content {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    &__stats {
      margin-top: 1.8rem;
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: $off-white;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
      row-gap: 1.6rem;

      .character {
        &__field {
          flex-basis: 33%;
          
          @include bp(tablet) {
            flex: 1;
          }

          &__value {
            font-size: 4rem;
            line-height: 1;
          }
        }
      }
    }

    &__saving-throws {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      flex-basis: 100%;

      .character {
        &__field {
          flex-basis: 33%;
          
          @include bp(tablet) {
            flex: 1;
          }
        }
      }
    }

    &__skills {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      column-gap: 2.4rem;
      row-gap: 0.8rem;

      @include bp(tablet) {
        row-gap: 1.2rem;
      }

      .character {
        &__field {
          text-align: left;
          flex-basis: calc(50% - 2.4rem / 2);
          max-width: 130px;
          display: flex;
          align-items: center;
          column-gap: 1.2rem;
          justify-content: space-between;
        }
      }
    }

    &__misc {
      display: flex;
      flex-direction: column;
      row-gap: 1.2rem;
      flex-basis: 100%;

      @include bp(tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 2.4rem;
        row-gap: 1.8rem;
        justify-content: space-around;
      }
      
      .character {
        &__field {
          text-align: left;

          @include bp(tablet) {
            flex-basis: calc(50% - 2.4rem / 2);
            max-width: 250px;
          }

          &__label {
            @include bp(tablet) {
              margin-bottom: 0.8rem;
            }
          }
        }
      }
    }
  }

  // inventory section styling
  &__inventory {
    &__inner {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    &__currency {
      display: flex;
      justify-content: space-between;
      
      .character {
        &__field {
          &__label {
            font-size: 1.6rem;
          }
        }
      }
    }

    &__items {
      margin-top: 1.2rem;
      text-align: left;

      @include bp(tablet) {
        margin-top: 2.4rem;
      }
    }
  }

  // features section styling
  &__features {
    &__inner {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;

      .character {
        &__field {
          text-align: left;
        }
      }
    }

    &__content {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // magic section styling
  &__magic {
    &__inner {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;

      .character {
        &__field {
          text-align: left;
        }
      }
    }

    &__content {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // additional notes section styling
  &__additional-notes {
    &__inner {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    &__content {
      @include bp(tablet) {
        display: flex;
        justify-content: space-between;
        column-gap: 2.4rem;
      }
    }

    .character {
      &__field {
        &__links {
          margin-top: 1.2rem;
          display: flex;
          flex-direction: column;
          row-gap: 1.2rem;
        }
      }
    }
  }
}
